// PRINCIPAL
$verde-principal: #0f6d3a;
$verde-secundario: #40a068;

// FUNDOS
$background: #f9f9f9;
$cinza-claro: #f7f7f7;
$cinza-medio: #e8e8e8;
$cinza-verde: #cacecb;
$container-verde: #9eb0a2;
$branco: #ffffff;

// TEXTO E INTERFACE
$preto-txt: #1a1a1a;
$branco-txt: #ffffff;
$cinza-txt: #6b6b6b;

// BORDAS E ELEMENTOS INATIVOS
$cinza-borda: #dcdcdc;
$cinza-placeholder: #a0a0a0;

$select-input: $container-verde;
$erro-input: #c0392b;

// BUTTON
$button-confirmar: $verde-principal;
$button-editar: #dd9b64;
$button-cancelar: #c0392b;
$button-novo: #2b67c0;

//STATUS
$status-ativo: #6EA8FE;
$status-inativo: #E57373;
