@use '../../styles/cor_modelo.scss' as *;
@use "sass:color";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 80px;
  background-color: $verde-principal;
  color: $branco-txt;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;

  .navbar-logo {
    img{
      height: 70px;
    }
  }

  .navbar-user {
    display: flex;
    align-items: center;
    gap: 20px;

    .user-name {
      font-size: 0.9em;
      font-weight: 500;
    }

    .btn-sair {
      font-size: 0.9em;
      width: 60px;
      height: 32px;
      font-weight: bold;
      background-color: $button-cancelar;
      color: $branco-txt;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: color.adjust($button-cancelar, $lightness: -5%);
      }
    }
  }
}