@use '../../styles/cor_modelo.scss' as *;

.home-container {
    width: 100%;
    max-width: 1440px;
    height: calc(100vh - 200px);
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;

    h1 {
        font-size: 2.5em;
        color: $verde-principal;
        margin-bottom: 10px;
    }

    .subtitulo {
        font-size: 1.2em;
        color: $cinza-txt;
        margin-bottom: 50px;
    }

    .menu-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;

        .menu-card {
            display: flex;
            justify-content: start;
            align-items: center;
            height: 100px;
            background-color: $cinza-claro;
            border-radius: 15px;
            border: 1px solid $cinza-verde;
            // Sombra suave
            padding: 20px;
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            .card-icon {
                height: 40px;
                font-size: 2.5em;
                color: $verde-principal;
                padding-right: 20px;
            }

            a {
                font-size: 1.2em;
                font-weight: bold;
                color: $preto-txt;
                text-decoration: none;
                text-align: center;
            }

            &:hover {
                transform: translateY(-5px);
                box-shadow: 3px 3px 6px rgba($verde-secundario, 0.2); 
            }
        }
    }

}
