<div class="modal-backdrop">
  <div class="modal">
    <h2>{{ rotaParaEditar ? 'Editar Rota' : 'Nova Rota' }}</h2>

    <form [formGroup]="form" (ngSubmit)="salvar()">

      <div class="row">
        <div class="form-group">
          <label>Nome*</label>
          <input type="text" formControlName="nome">
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label>Caminhão*</label>
          <select formControlName="caminhaoPlaca">
            <option value="" disabled>Selecione...</option>
            <option *ngFor="let c of caminhoesDisponiveis" [value]="c.placa">
              {{ c.placa }} - {{ c.motorista.nome }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Residuo*</label>
          <select formControlName="tipoResiduo">
            <option value="" disabled>Selecione...</option>
            <option *ngFor="let r of tiposResiduosEnum" [value]="r">
              {{ r }}
            </option>
          </select>
        </div>
      </div>

      <!-- 3 selects diferentes, cada um salvando ID -->
      <div class="row">

        <div class="form-group">
          <label>Ponto Coleta 01*</label>
          <select formControlName="ponto1">
            <option value="" disabled>Selecione...</option>
            <option *ngFor="let p of pontosDisponiveisL1" [value]="p.id">
              {{ p.nome }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Ponto Coleta 02*</label>
          <select formControlName="ponto2">
            <option value="" disabled>Selecione...</option>
            <option *ngFor="let p of pontosDisponiveisL2" [value]="p.id">
              {{ p.nome }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Ponto Coleta 03*</label>
          <select formControlName="ponto3">
            <option value="" disabled>Selecione...</option>
            <option *ngFor="let p of pontosDisponiveisL3" [value]="p.id">
              {{ p.nome }}
            </option>
          </select>
        </div>

      </div>

      <div class="actions">
        <button type="button" (click)="cancelar()" class="btn-cancel">Cancelar</button>
        <button type="submit" class="btn-save" [disabled]="form.invalid">
          {{ rotaParaEditar ? 'Atualizar' : 'Salvar' }}
        </button>
      </div>

    </form>
  </div>
</div>
