@use '../../styles/cor_modelo.scss' as *;
@use "sass:color";

.box{
    width: 100%;
    padding: 20px;
    background-color: $cinza-claro;
    border: 1px solid $cinza-borda;
    border-radius: 10px;
    margin-bottom: 4dvh;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid $container-verde;

        h2{
            font-size: 1.4em;
        }

        .box-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .btn{
                display: flex;
                align-items: center;
                justify-content: center;
                color: $background;
                padding: 10px 0;
                width: 100px;
                border-radius: 8px;
                text-decoration: none;
                font-weight: bold;
                border: none;
                cursor: pointer;
                font-size: 0.9em;
                transition: background-color 0.5s ease;
            }
            .btn-editar{
                background-color: $button-editar;
                &:hover {
                    background-color: color.adjust($button-editar, $lightness: -10%);
                }
            }
            .btn-excluir{
                background-color: $button-cancelar;
                &:hover {
                    background-color: color.adjust($button-cancelar, $lightness: -10%);
                }
            }
            .btn-novo-ponto{
                background-color: $button-novo;
                &:hover {
                    background-color: color.adjust($button-novo, $lightness: -10%);
                }
            }
        }
    }
    .pontos-coletas{
        gap: 10px;

        .box-ponto{
            display: flex;
            flex-wrap: wrap;
            width: 300px;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border-radius: 10px;
            background-color:$cinza-verde;
            border: 1px solid $container-verde;

            .coluna{
                display: flex;
                align-items: center;
                padding: 2px;
                width: 100%;

                label{
                    font-size: 0.8em;
                    font-weight: bold;
                }
                
                span{
                    padding-left: 5px;
                    font-size: 0.8em;
                }
            }

            .btn-editar {
                width: 80px;
                height: 28px;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                font-weight: bold;
                font-size: 0.8em;
                text-decoration: none;
                display: inline-block;
                background-color: $button-editar;
                color: $branco-txt;
                letter-spacing: 1px;

                &:hover {
                    background-color: color.adjust($button-editar, $lightness: -10%);
                }
            }

            .btn-excluir {
                width: 80px;
                height: 28px;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                font-weight: bold;
                font-size: 0.8em;
                text-decoration: none;
                display: inline-block;
                background-color: $button-cancelar;
                color: $branco-txt;
                letter-spacing: 1px;

                &:hover {
                    background-color: color.adjust($button-cancelar, $lightness: -10%);
                }
            }
        }
    }
}